<div >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forget Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" routerLink="" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <form [formGroup]="forget">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">E-mail:</label>
                        <input type="email" class="form-control" id="recipient-name" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Date of birth:</label>
                        <input type="date" class="form-control" id="recipient-name" formControlName="dob">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Create Password:</label>
                        <input type="password" name="" class="form-control" id="message-text" formControlName="create">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Confirm Password:</label>
                        <input type="password" name="" class="form-control" id="message-text" formControlName="confirm">
                    </div>
                   
               
         
            <div class="modal-footer">
                
                <button type="button" class="btn btn-primary" (click)="submitBtn()">Submit</button>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>