<div class="card text-center navbar-dark bg-black">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Thanks for chossing website</h5>
      <p class="card-text">I hope you enjoy my website</p>
      <p class="card-text">Contact us</p>
     
  
    </div>
    <div class="card-footer text-muted">
        <p class="card-text">Follow us on</p>
        <p class="card-text"><i class="fab fa-facebook fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i></p>
    </div>
</div>
