#myDiv {
    width: 550px;
    height: 240px;
    background-color: black;
    color: white;
    position: absolute;
 left: 50px;
 top:200px;
    border: 0px;
    animation: mymove 3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    box-shadow: 5px 5px rgba(43, 43, 43, 0.409),
}