<header class="header">
 
  <nav class="nav-bar">
      <div class="logo">
          <a href="index.html">
              <img src="./../../assets/images/logoeres.png" alt="Logo" width="150" height="70">
          </a>
          </div>
          <span class="menu-bar">
      <div class="icons">
          <div></div>
          <div></div>
          <div></div>
      </div>
      <ul class="navbar-list">
          <li class="list-item">
              <a routerLink="foodDetail" tabindex="1" (focus)="navgate('foodDetail')" class="active">Food Item</a>
          </li>
          <li class="list-item">
              <a routerLink="logIn" tabindex="2" (focus)="navgate('logIn')">Login/Sign up</a>
          </li>
          <li class="list-item">
              <a routerLink="cart" tabindex="3" (focus)="navgate('cart')"><i class="fas fa-shopping-cart fa-2x"></i></a>
          </li>
      </ul>
  </span>
  </nav>
</header>