<section class="about-us">
    <h2 class="about-us-heading">About Us</h2>
    <p class="about-us-content">Welcome to Maple Retreat, Manali welcomes you to the valley of good on the banks of Beas, Manali offers breathtaking vistas of the mountains. The rooms at Maple Retreat, Manali are spacious and equipped with all modern amenities so you won’t miss out on the urban creature comforts. The hotel is situated at NH-21, Manali. Location is magical and serene. Rooms have double bed, LED TV with multi channels, running hot and cold water, intercom etc.</p>
</section>